<!-- Lean Cloud Begin -->
<script src="https://leancloud.cn/scripts/lib/av-0.5.0.min.js"></script>
<script type="text/javascript">

    /* For the statistics of page views */
    AV.initialize(
        "hf8PxdTxBd4viu7KMI63xbgw-gzGzoHsz", // 应用 id
        "VAj0e9mFIhD632UX67zCn3nu" // 应用 key
    );

    function addCount(Counter) {
		//alert("addCount:");
        url = $('.article-url').attr('href').trim();
        title = $('.article-title').text().trim();
		
        var query = new AV.Query(Counter);
		
        query.equalTo("url",url); // use url as unique idnetfication
        query.find({
            success: function(results) {
				//alert("results:"+results.length);
                if (results.length>0) {
                    var counter = results[0];
                    counter.fetchWhenSave(true); //get recent result
                    counter.increment("time");
                    counter.save(null, {
						success: function(counter) {
							var content =  counter.get('time') + ' ' + $(document.getElementById(url)).text();
							//$(document.getElementById(url)).text(content);
						},
						error: function(counter, error) {
							//alert("error："+error);
							//console.log('Failed to save Visitor num, with error message: ' + error.message);
						}
					});
                } else {
					//alert("else");
                    var newcounter = new Counter();
                    newcounter.set("title", title);
                    newcounter.set("url", url);
                    newcounter.set("time", 1);
					// 新建一个 ACL 实例
					var acl = new AV.ACL();
					acl.setPublicReadAccess(true);
					acl.setPublicWriteAccess(true);
					// 将 ACL 实例赋予 newcounter 对象
					newcounter.setACL(acl);
                    newcounter.save(null, {
                        success: function(newcounter) {
                            //alert('New object created');
                        },
                        error: function(newcounter,error) {
                            //alert('Failed to create');
                        }
                    });
                }
            },
            error: function(error) { // find null is not a error
                //alert('Error:' + error.code + " " + error.message);
            }
        });
    }

    $(function() {
        var Counter = AV.Object.extend("Counter");
        // Only increse visit counting when it's a post
        // and it's not the local site.
        if (1 == $('.article-title').length
            //TODO && (-1 != location.href.indexOf("icehe.me"))
        ) {
            addCount(Counter);
        }

        // if popularlist widget exists, add item to it.
        var popular_list = $('.popularlist');
        if (1 == popular_list.length) {
            var query = new AV.Query(Counter);
            query.descending("time");
            query.limit(20);
            query.find({
                success: function(results) {
                    for(var i = 0; i < results.length; ++i) {
                        var counter = results[i];
                        title = counter.get("title");

                        $('#popularlist_ul li:eq(' + i + ')').html('<a href="'
                                + counter.get("url") + '" name="'
                                + title + '">No.'
								+ (i+1) + '&nbsp&nbsp'
                                + '<sup>'
                                + counter.get("time") + ' </sup> &nbsp;'
                                + title
                                + '</a>'
                        );
                    }
                },
                error: function(error) {
                    //alert("Error:" + error.code + " " + error.message);
                }
            });
        }

        // if cur page is a post, set the post pageview.
        var article_info = $(".article-info");
		//alert("article_info.length = "+article_info.length);
        if (1 == article_info.length) {
            var query = new AV.Query(Counter);
			//alert("title "+article_info.find(".article-title").length);
            query.equalTo("url", article_info.find(".article-title a").attr("href"));
            query.limit(1);
            query.find({
                success: function(results) {
                    if (1 == results.length) {
                        var counter = results[0];
                        title = counter.get("title");
                        url = counter.get("url");
                        time = counter.get("time");
                        article_info.find(".article-pageview").text(time);
                    }
                },
                error: function(error) {
                    article_info.find(".article-pageview").text("0");
                    //alert("Error:" + error.code + " " + error.message);
                }
            });
        }
		/**
		else if(1 < article_info.length){
			var query = new AV.Query(Counter);
			index = article_info.length-1;
			updatepageview(article_info);
		}**/

        // if cur page is Home, set the post_list's pageviews.
		//alert("post_list:"+post_list.length);
        if (1 < article_info.length) {
            var a_items = article_info.find(".article-title");
			//alert("a_items:"+a_items.length);
			var query = new AV.Query(Counter);
            for (var i = 0; i < a_items.length; ++i) {
                var url = a_items.eq(i).find("a").attr("href");
				//alert("url:"+url);
                query.equalTo("url", url);
                query.limit(1);
                query.find({
                    success: function(results) {
                        if (1 == results.length) {
                            var counter = results[0];
                            title = counter.get("title");
                            url = counter.get("url");
                            time = counter.get("time");
							//alert("url:"+url);
							//alert(".parent():"+a_items.find("a[href='"+url+"']").parent("h1").parent("header").length);
							a_items.find("a[href='"+url+"']").parent("h1").parent("header").find('.article-pageview').text(time);
                            //$(".post a[href='" + url + "']").find('.article-pageview').text(time);
                        }
                    },
                    error: function(error) {
						a_items.find("a[href='"+url+"']").parent("h1").parent("header").find('.article-pageview').text("0");
                        //alert("Error:" + error.code + " " + error.message);
                    }
                });
            }
        }
    });
</script>
<!-- Lean Cloud End -->