<div class="popularlist">
    <p class="asidetitle">
        <!--<a href="javascript:;" onclick="switch_widget_hidden(this);">-->
            Top2 热榜 &nbsp;
            <!--<i class="fa fa-caret-up"></i>-->
        <!--</a>-->
    </p>
    <ul id="popularlist_ul" class="clearfix">
        <% for (var i = 1; i <= 2; ++i) { %>
            <li><a href="javascript:;"><%- i %> &nbsp;loading ...</a></li>
        <% } %>
    </ul>
</div>