<div class="linkslist">
  <p class="asidetitle"><%= __('Visitors') %></p>
    <a href="http://info.flagcounter.com/DMzh"><img src="http://s09.flagcounter.com/count2/DMzh/bg_FFFFFF/txt_000000/border_CCCCCC/columns_2/maxflags_10/viewers_++/labels_0/pageviews_1/flags_0/percent_0/" alt="Free counters!" border="0"></a>
</div>